name: autobuild deploy

on:
  push:
    branches:
      - "master"

jobs:
  build:
    runs-on: ubuntu-latest
  
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install & build
        run: npm i && npm run build
      - name: Deploy
        run: npm run deploy
